<!DOCTYPE html>
<html>

    <head>
        <link href='theme/css/style.css' rel='stylesheet' type='text/css'>
        <script src='theme/js/NodeList.min.js' type='text/javascript'></script>
    </head>

    <body>
        <div id='grid'>
            <div id='banner' class='box'>
                <img src='theme/images/banner.png'
                    title='Banner courtesy of El Chico Iwana' alt='banner'>
            </div>

            <div id='content' class='box'>

                <h1>Upcuming shows</h1>
                <ul class='shows' id='shows'>
                    {% for show in articles|sort(attribute='date') %}
                        <li data-date='{{ show.date }}'>
                            {{ show.date|strftime('%d-%m-\'%y') }}
                            {% if show.time %}{{ show.time }}{% endif %}
                            {% if show.title %}{{ show.title }}{% endif %}
                            @ {{ show.venue }}, {{ show.city }}
                            {% if show.link %}<a target='_blank'
                                href='{{ show.link }}'>Link</a>{% endif %}
                            {% if show.facebook %}<a target='_blank'
                                href='{{ show.facebook }}'>FB</a>{% endif %}
                            {% if show.flyer %}<a target='_blank'
                                href='{{ show.flyer }}'>Flyer</a>{% endif %}
                        </li>
                    {% endfor %}
                </ul>

                <a class='small' id='open-past-shows' href='#'>Show past shows</a>

                <ul class='shows hidden' id='past-shows'>
                </ul>

                <p id='hype'>*** We have been recording, and pretty soon you
                can expect a <em>shiny E.P.</em>! ***</p>

                <h1>Sounds</h1>

                <h2>Cyanide Sessions (2016-ish)</h2>
                <iframe class='player' id='player-cyanide' src='https://bandcamp.com/EmbeddedPlayer/album=3567811283/size=large/bgcol=ffffff/linkcol=337ab7/artwork=small/transparent=true/' seamless>
                    <a href='http://jonestownaloha.bandcamp.com/album/cyanide-sessions'>Cyanide Sessions by Jonestown Aloha</a>
                </iframe>

                <a class='small' id='open-past-releases' href='#'>Show past releases</a>

                <div id='past-releases' class='hidden'>
                    <h2>Demo (2013)</h2>
                    <iframe class='player' id='player-demo' data-src='https://bandcamp.com/EmbeddedPlayer/album=1029020688/size=large/bgcol=ffffff/linkcol=337ab7/artwork=small/transparent=true/' seamless>
                        <a href='http://jonestownaloha.bandcamp.com/album/demo-2013'>Demo - 2013 by Jonestown Aloha</a>
                    </iframe>
                </div>

                <p>Jonestown Aloha is (fltr): Bas Niels Titus Lennart</p>

                <p>
                    <a href='https://fb.com/jonestownaloha' target='_blank'>Find us on FB</a>
                </p>

            </div>
        </div>

        <script src='theme/js/js.js' type='text/javascript'></script>
    </body>

</html>
