<!DOCTYPE html>
<html>

    <head>
        <link href='theme/css/style.css' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div id='grid'>
            <div id='banner' class='box'>
                <img src='theme/images/banner.png' alt='banner'>
            </div>

            <div id='content' class='box'>

                <h1>Upcuming shows</h1>
                <ul id='shows'>
                    <li>17-06-'17 Spinhuis w/ Deze en Die Band
                        <a href='#'>Linkje</a> <a href='#'>FB</a>
                        <a href='#'>Flyer</a>
                    <li>xx-xx-'xx xxxxxxx w/ xxxxxxxxxxx <a href='#'>Linkje</a>
                        <a href='#'>FB</a> <a href='#'>Flyer</a>
                    <li>xx-xx-'xx xxxxxxx w/ xxxxxxxxxxx <a href='#'>Linkje</a>
                        <a href='#'>FB</a> <a href='#'>Flyer</a>
                    <li>xx-xx-'xx xxxxxxx w/ xxxxxxxxxxx <a href='#'>Linkje</a>
                        <a href='#'>FB</a> <a href='#'>Flyer</a>
                    <li>xx-xx-'xx xxxxxxx w/ xxxxxxxxxxx <a href='#'>Linkje</a>
                        <a href='#'>FB</a> <a href='#'>Flyer</a>
                    <li>xx-xx-'xx xxxxxxx w/ xxxxxxxxxxx <a href='#'>Linkje</a>
                        <a href='#'>FB</a> <a href='#'>Flyer</a>
                </ul>

                <p id='hype'>*** We are recording a shiny E.P. <em>right
                    now</em>! ***

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec at lacinia lacus, in vestibulum magna. Pellentesque
                habitant morbi tristique senectus et netus et malesuada fames
                ac turpis egestas. Etiam in risus non felis mollis tempus sit
                amet a nibh. Proin quis urna quis libero elementum fermentum
                eget a tellus. Curabitur id magna non ex euismod tempor eu et
                neque. Nulla eget purus luctus, cursus mi sit amet, malesuada
                erat. Sed rhoncus pharetra libero nec cursus. Ut at porta ante.
                Cras quis condimentum arcu, vel lobortis est. Curabitur ut
                tellus ipsum. Phasellus eget rhoncus ex. Fusce maximus enim
                vitae turpis feugiat euismod. Curabitur vitae velit tincidunt,
                facilisis dui vitae, viverra libero. Morbi non ligula rhoncus
                quam varius sodales. Nam fermentum mattis eros at ullamcorper.
                Donec pretium ante nulla, eget gravida nulla tempor nec.

                <p>Praesent vehicula odio vitae dui malesuada, non fermentum
                justo semper. Phasellus pharetra sodales sem, sed faucibus
                mauris condimentum nec. Ut mollis ornare tortor, eu mattis sem
                accumsan sit amet. Nulla convallis dictum placerat. Suspendisse
                laoreet ornare scelerisque. In dictum pulvinar dolor sit amet
                suscipit. Donec nisl tellus, porta non viverra sed, varius sed
                tortor. Cras volutpat molestie ligula. Aliquam erat volutpat.
                Phasellus sed justo varius metus congue commodo et a risus.
                Aliquam quis venenatis arcu, et sollicitudin eros. Mauris
                sagittis faucibus iaculis. Suspendisse dictum neque in rutrum
                lacinia.

                <p>Vestibulum hendrerit dictum ligula, vel vulputate mi
                pellentesque vel. Morbi elementum eu nulla ut suscipit. In a
                ipsum consequat, fermentum dolor non, sagittis leo. Vivamus
                quis convallis ante. Fusce pharetra nisl eu tincidunt accumsan.
                Aliquam at ultricies justo. Suspendisse congue ornare
                convallis. Aliquam erat volutpat. Sed eget justo lacus.
                Vestibulum dignissim ipsum et imperdiet molestie. Nullam id sem
                ornare, mollis est a, iaculis odio.

                <p>Donec in ultrices augue. Duis nec eros consequat, consequat
                nibh vitae, tincidunt turpis. Sed dictum ligula in diam tempus
                laoreet. Aliquam euismod tellus ut egestas condimentum. Aenean
                ultricies fringilla dictum. Sed a mattis odio. Donec lacinia
                non nunc sodales cursus.

                <p>Nunc ipsum leo, porttitor sit amet pretium non, imperdiet
                quis dui. Suspendisse potenti. Vestibulum at efficitur quam,
                ornare ornare lacus. In convallis semper enim, sed bibendum sem
                congue vitae. Quisque dui ante, tincidunt vel lorem quis,
                sagittis feugiat dolor. Mauris eu tempus massa. Orci varius
                natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus mus. Morbi posuere rhoncus quam, eget ullamcorper
                nibh egestas non. Donec nibh odio, volutpat ut cursus sed,
                sollicitudin nec tellus. Aliquam vel quam dolor. Donec sed
                pulvinar enim. Pellentesque habitant morbi tristique senectus
                et netus et malesuada fames ac turpis egestas. Pellentesque
                habitant morbi tristique senectus et netus et malesuada fames
                ac turpis egestas. Proin in massa placerat, semper erat vitae,
                pretium arcu.
            </div>
        </div>
    </body>

</html>
